@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Black";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

.container {
  padding: 10px;
  height: 110px;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  font-family: "Pretendard-Bold";
}

.content {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
}

.content img {
  width: 90px;
  margin-right: 10px;
}

.image {
  width: 150px;
  height: 80px;
  margin-right: 10px;
  /* border: 1px solid black; */
}

.image img {
  width: 100%;
}

.info {
  width: 100%;
  /* border: 1px solid black; */
}

.title {
  padding: 5px;
  font-size: 16px;
  margin-bottom: 5px;
  font-family: "Pretendard-Black";
}

.discription {
  /* border: 1px solid black; */
  padding: 5px;
  font-size: 11px;
  color: #777777;
}
