@font-face {
  font-family: "GongGothicMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 390px;
  margin: 0 auto;
  background-color: white;
  overflow-y: scroll;
}

.header {
  width: 100%;
  max-width: 390px;
  padding-left: 20px;
  height: 70px;
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid gray; */
}

.header p {
  padding-left: 30px;
  font-size: 20px;
  font-family: "GongGothicMedium";
  padding-top: 5px;
}

.header img {
  cursor: pointer;
}

.date {
  height: 90px;
  display: flex;
  justify-content: center;
}

.date_container {
  height: 60px;
  background-color: blueviolet;
}

.table {
  margin-top: 10px;
  height: 100vh;
  /* border: 1px solid black; */
  justify-content: center;
  padding: 0px 20px 0px 20px;
}

.table img {
  width: 100%;
  border-radius: 15px;
}
