@font-face {
  font-family: "GongGothicMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.side_drawer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 70%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  max-width: 390px;
  margin: 0 auto;
  animation: slide-animation 0.2s ease-in;
  /* background-color: blueviolet; */
}

@keyframes slide-animation {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(50px);
  }
}

.btn_box {
  /* background-color: darkgoldenrod; */
  padding: 10px;
  display: flex;
  cursor: pointer;
}

.btn_box img {
  margin-left: auto;
}

.list_box {
  /* background-color: bisque; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list_box ul {
  /* background-color: cadetblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list_box ul li {
  /* background-color: chartreuse; */
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
  font-family: "GongGothicMedium";
}

#about {
  font-size: 15px;
  margin: 50px;
}
